#footer
{
	text-align:center;
	background-color: powderblue;
	border: 2px solid black;
	border-top: #0d84da
}


.fullread
{
	text-align:right;
	margin-left: auto;
	margin-right: 20px;
}

.article-panel
{
    background-color: lightgrey;
    text-align: right;
}

.img-article-left
{
	max-width: 100px;
	height: 150px;
}

.about
{
	height: auto;
	font-size: 150%;
	margin-left: 40px;
}
.post-center
{
	text-align: center;

}

.page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}