{% extends 'history/base.html' %}


{% block content %}

<h1>Немного про наш сайт:</h1>
<div class="about">Наш сайт - это путеводитель для тех, кто ищет увлекательные истории и красивые места по всему миру. Мы собрали самые замечательные и уникальные достопримечательности, чтобы поделиться с вами удивительными местами и впечатлениями, которые можно испытать во время путешествий. Наши авторы пишут о своих личных опытах и приключениях, чтобы помочь вам расширить кругозор и найти вдохновение для новых приключений.

<br>Мы создали этот сайт, чтобы помочь путешественникам найти не только знаменитые достопримечательности, но и скрытые жемчужины, которые можно найти только благодаря местным советам и рекомендациям. Мы постоянно обновляем нашу базу данных, чтобы вы могли узнать о новых и захватывающих местах, которые стоит посетить.

 <br>Если у вас есть какие-либо вопросы, предложения или комментарии, не стесняйтесь связаться с нами. Мы всегда рады получить отзывы от наших читателей и улучшить наш сайт для вас. Спасибо за то, что выбираете наш сайт в качестве своего путеводителя!</div>

{% endblock %}