{% extends 'history/base.html' %}
{% block content %}


<ul>
    {% for post in posts %}
        <li><div class="article-panel">
        <p>Дата создания: {{post.created_at|date:"d-m-Y H:i:s"}}</p></div>

        <h2>{{post.title}}</h2>

        {% if post.image %}
            <p><img class='img-article-left' style="max-width:300px; height: auto" src="{{ post.image.url}}" alt="{{post.title}}">
            {{post.description|linebreaks|truncatewords:100}}</p>
        {% else %}
            <p>{{post.description|linebreaks|truncatewords:100}}</p>
        {% endif %}

        <div class="fullread">
        <a class="btn btn-secondary" role="button" href="{{ post.get_absolute_url }}">Читать полностью</a>
        </div>
        <br>
        </li>
    {% endfor %}
</ul>

{% endblock %}